test('mock function', () => {
  const myMock = jest.fn();
  myMock();

  expect(myMock).toHaveBeenCalled();
});

test('mock function 2', () => {
  const myMock = jest.fn();

  myMock('hi');
  myMock('there!');

  expect(myMock).toHaveBeenCalledTimes(2);
  expect(myMock.mock.calls[0][0]).toBe('hi');

  console.log(myMock.mock.calls);
  //[['hi'], ['there!']]
});

test('mock function 3', () => {
  const fiveProd = jest.fn(
    number => number * 5
  );

  const five = fiveProd(1);
  const ten = fiveProd(2);

  expect(fiveProd.mock.calls[1][0]).toBe(2);
  expect(ten).toBe(10);
});

