// __tests__/async.js

import getLanguageByCountry from '../async';

// Jest < 20

test("should return the country's language", () => {
  getLanguageByCountry('TV').then(data => {
    expect(data).toBe('Tuvaluan');
  });
});

test('should reject when country is not available', () => {
  getLanguageByCountry('JP').catch(data => {
    expect(data).toBe('😶');
  });
});

// Jest >=20.

test.skip("should return the country's language", () => {
  expect(getLanguageByCountry('TV')).resolves.toBe('Tuvaluan');
});

test.skip('should reject when country is not available', async () => {
  await expect(getLanguageByCountry('JP')).rejects.toMatch('😶');
});
