// __tests__/seasonsActivities.js

import React from 'react';
import Seasons from '../code/snapshotReact';
import { shallow } from 'enzyme';

it('renders correctly', () => {
  const wrapper = shallow(<Seasons />);
  expect(wrapper).toMatchSnapshot();
});