class Seasons extends Component {
  constructor(props) {
    super(props);

    this.state = {
      winter: {
        logo: '❄️',
        activities: ['⛄', '⛷️']
      },
      spring: {
        logo: '🌱',
        activities: ['👩‍🌾', '🌻']
      },
      summer: {
        logo: '☀️',
        activities: []
      },
      autumn: {
        logo: '🍂',
        activities: []
      }
    };
  }

  renderSeason(key) {
    return (
      <SeasonItem key={key}>
        <SeasonTitle>
          {`${key.toUpperCase()} ${this.state[key].logo}`}
        </SeasonTitle>
        {this.renderSeasonActivities(key)}
      </SeasonItem>
    );
  }

  renderSeasonActivities(key) {
    if (this.state[key].activities.length) {
      const list = this.state[key].activities.map((activity, index) => (
        <Activity key={index}>
          {activity}
        </Activity>
      ));

      return (
        <ul>
          {list}
        </ul>
      );
    } else {
      return <NoActivitiesMsg>Activities coming soon ...</NoActivitiesMsg>;
    }
  }

  render() {
    return (
      <SeasonsWrapper>
        {Object.keys(this.state).map(this.renderSeason.bind(this))}
      </SeasonsWrapper>
    );
  }
}

export default Seasons;
